@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}


img{
  width: 100%;
  min-height: 400px;
  max-height: 450px;
  height: auto;
  transition: .3s ease-in-out;
}

img:hover{
  scale:102%;
}